/* font section  */
.inter-logo {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.raleway-cmnfont {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
/* common section  */
.bluebtn{color: white;
    background-color: #4E47FF;
    font-weight: bold;
    font-size: 16px;
    padding: 12px 36px;
    border-radius: 10px;
    border: none;}
/* nav section  */
.navbar{display: flex;
justify-content: space-between;
text-align: center;
margin: 50px 150px 0px;}
.logo{color: #4E47FF;
font-size: 34px;}
/* banner section  */
.banner{text-align: center;
justify-content: center;
margin: 158px 267px 237px;}
.bannerhead{font-size: 65px;
font-weight: bold;}
.bgimg{background-image: url(/images/Hero-bg.png);}
/* action section  */
.action{display: flex;
text-align: center;
justify-content: space-between;
margin: 116px 160px 140px ;}
.actionhead{font-size: 42px;
font-weight: bold;}
.actioncontent{font-size: 24px;
color: #25243281;}
.actionimg{border-radius: 48px;}


